@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #101010;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #222;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  /*color: var(--custom-color);*/
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #ddddde;
  width: 20%;
  padding: 20px;
  display: none;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  height: 3em;
  background-size: auto 32px;
  background-repeat: no-repeat;
  background-position: left;
}
.bg-pikachu {
  background-image: url('/_pikachu.png');
}
.bg-pikachu-32 {
  background-image: url('/_pikachu.png');
  background-size: auto 32px;
}
.bg-zubat {
  background-image: url('/_zubat.png');
}

.time {
  padding-left: 32px;
  flex-basis: 30%;
  text-align: justify;
}
.time-span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.content {
  flex-basis: 50%;
}

.switch {
  flex-basis: 20%;
  text-align: right;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.header {
  background-color: #007acc;
  /* Màu xanh */
  color: #060303 !important;
  padding: 10px;
  text-align: center;
  height: 3em;
  /* Chiều cao cố định */
}

.footer {
  background-color: #007acc;
  /* Màu vàng */
  color: #fff;
  padding: 10px;
  text-align: center;
  height: 3em;
  /* Chiều cao cố định */
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .footer {
    display: block;
  }
}
